<main class="productList">
  <h4 class="text-center my-4">List of OpenFabric Products</h4>

  <div *ngIf="!products.length && loading">
    <h6 class="text-center">Loading...</h6>
  </div>

  <div *ngIf="!products.length && !loading">
    <h6 class="text-center">No Product listed</h6>
  </div>

  <span *ngIf="products.length && !loading">
    <div *ngFor="let product of products" class="list row rounded mb-4">
      <div class="col-9 d-flex justify-content-start align-items-center">
        <p class="mb-0 text-truncate list--p">{{ product.name }}</p>
      </div>
      <div class="col-3 d-flex justify-content-end align-items-center">
        <a [routerLink]="product._id" class="Button Button--secondary"
          >click to view</a
        >
      </div>
    </div>
  </span>
</main>
